:root {
  --first-color: #f8b400;
  --second-color: #faf5e4;
  --third-color: #2c786c;
  --fourth-color: #004445;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 576px) {
  h1 {
    font-size: 60px !important;
  }

  .button-link {
    padding: 15px 20px;
    margin: 20px !important;
    border-radius: 5px;
  }

  .card {
    border-radius: 0px;
  }

  .about-me-paragraph {
    border-radius: 0px !important;
  }

  .about-me-images {
    border-radius: 0px !important;
  }

  .contact-me-title {
    font-size: 40px !important;
  }
}

.navigation-bar {
  background-color: var(--fourth-color);
}

.logo {
  color: var(--first-color);
}

.navigation-bar-text {
  color: var(--second-color);
}

.navigation-bar-menu {
  border-color: var(--second-color);
}

body {
  background: var(--second-color);
  font-family: "Saira Condensed", sans-serif;
}

h1 {
  color: var(--fourth-color);
  text-align: center;
  margin: 140px auto 0px;
  font-size: 80px;
}

h2 {
  color: var(--third-color);
  text-align: center;
  font-style: italic;
  margin: 0px auto 10px;
}

.button-link {
  text-align: center;
  background-color: var(--first-color);
  border: 1px solid var(--first-color);
  color: var(--second-color);
  padding: 15px 20px;
  margin: 50px;
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  font-weight: 500;
  font-size: 20px;
}

.button-link:hover {
  background-color: var(--second-color);
  color: var(--first-color);
  background-color: var(--second-color);
  transition: 200ms ease-in-out;
}

.information {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.card {
  box-shadow: var(--box-shadow);
}

a {
  display: block;
  text-align: center;
  color: var(--first-color);
  font-weight: 500;
  font-size: 20px;
}

p {
  color: var(--second-color);
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.about-me-paragraph {
  background-color: var(--fourth-color);
  padding: 15px;
  border-radius: 5px;
  margin-top: 80px;
}

.about-me-images {
  margin-top: 20px;
  padding: 20px;
  background-color: var(--fourth-color);
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}

.contact-me-title {
  font-size: 50px;
  margin-top: 50px;
}

#email {
  font-size: 30px;
  font-style: italic;
  text-decoration: none;
}

#email:hover {
  text-decoration: underline;
  transition: 200ms ease-in-out;
}

.card {
  background-color: var(--fourth-color);
}

.card-title {
  color: var(--first-color);
}

.card-text {
  color: var(--second-color);
  text-align: center;
}

.card-button {
  background-color: var(--first-color);
  color: var(--third-color);
}

.btn {
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #{shade-color($bd-violet, 10%)};
  --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
}
