:root {
  --first-color: #ea9215;
  --second-color: #eeeeee;
  --third-color: #3a4750;
  --fourth-color: #303841;
  --background-color: rgba(58, 71, 80, 0.9);
  --box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 720px) {
  nav {
    display: block !important;
    padding: 28px 10px !important;
  }

  .logo {
    margin: 0px !important;
    display: block;
    text-align: center !important;
  }

  nav ul {
    margin-top: 20px !important;
    display: flex !important;
    justify-content: space-evenly !important;
  }

  nav li {
    margin-left: 0px !important;
  }

  .title {
    text-align: center;
    margin-bottom: 30px !important;
  }

  img {
    margin: auto;
    border: none !important;
    border-radius: 0 !important;
  }

  .line-one.about-me {
    margin-bottom: 20px !important;
  }

  .line-two {
    margin-bottom: 60px !important;
  }

  .project-info {
    margin-top: 0px !important;
    margin-bottom: 50px !important;
    padding: 30px 50px !important;
    opacity: 1 !important;
    background-color: var(--third-color);
  }

  .project-info:hover {
    background-color: rgba(58, 71, 80, 1) !important;
  }

  .project-info h2 {
    font-size: 36px !important;
    text-align: center;
  }

  .project-info p {
    font-size: 20px !important;
  }

  .project-info a {
    margin: auto !important;
    font-size: 20px !important;
  }

  .introduction {
    text-align: center;
    margin-top: 5px !important;
  }

  .introduction span,
  .introduction h1 {
    font-size: 32px !important;
  }

  .introduction a {
    font-size: 18px !important;
  }
}

body {
  background: var(--fourth-color);
  font-family: "Saira Condensed", sans-serif;
}

nav {
  display: flex;
  justify-content: flex-start;
  padding: 28px 80px;
  background-color: var(--fourth-color);
}

.logo {
  color: var(--first-color);
  font-size: 24px;
  margin-right: 130px;
  font-weight: 600;
}

nav ul {
  margin-top: 5px;
  padding: 0px;
}

nav li {
  display: inline;
  margin-left: 25px;
  font-weight: 400;
  font-size: 20px;
  list-style: none;
}

nav a {
  color: var(--second-color);
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--first-color);
}

hr {
  height: 2px;
  background-color: var(--first-color);
  border: 2px solid var(--first-color);
  opacity: 1;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 1);
}

.line-one {
  margin: 160px 0px 50px;
}

.line-two {
  margin: 50px 0px 100px;
}

h1 {
  color: var(--first-color);
  font-size: 40px;
  font-weight: 600;
  font-style: italic;
  line-height: 80px;
}

h2 {
  color: var(--first-color);
  font-size: 36px;
  font-weight: 500;
}

h3 {
  color: var(--second-color);
  font-size: 24px;
  font-weight: 400;
}

p {
  font-size: 20px;
  font-weight: 300;
  color: var(--second-color);
  text-align: justify;
}

a {
  text-decoration: none;
}

img {
  padding: 0;
  max-width: 100%;
}

footer {
  margin-top: 80px;
}

i {
  color: var(--second-color);
  font-size: 28px;
  margin: 0px 20px 20px;
}

.introduction span {
  color: var(--second-color);
  font-size: 40px;
  font-weight: 600;
  line-height: 80px;
}

.project-info {
  padding: 50px 80px;
  opacity: 0;
  transition: all 100ms ease-in-out;
}

.project-info:hover {
  opacity: 1;
  background-color: var(--background-color);
}

.project-info h2 {
  font-size: 48px;
}

.project-info p {
  margin: 50px 0;
  text-align: start;
}

.project-info a,
.introduction a,
.certificates a {
  background-color: var(--first-color);
  color: var(--second-color);
  text-align: center;
  font-size: 24px;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  transition: all 90ms ease-in-out;
}

.button:hover {
  background-color: var(--background-color);
  border: 1px solid var(--first-color);
  color: var(--first-color);
}

.project-info a {
  display: block;
  margin-right: 50%;
  padding: 10px 0;
}

.introduction a {
  padding: 10px;
  margin: 20px auto 30px;
}

.certificates a {
  padding: 10px 30px;
}

.profile {
  background-color: var(--third-color);
  border-radius: 5px;
  padding: 10px;
  max-width: 100%;
  box-shadow: var(--box-shadow);
}

.certificates p {
  padding: 20px;
  background-color: var(--background-color);
  border-radius: 5px;
}

footer a {
  color: var(--second-color);
  display: block;
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  margin-top: 20px;
}

footer p {
  color: var(--second-color);
  text-align: center;
  font-size: 15px;
  font-weight: 200;
  margin-top: 50px;
}

.button-link {
  text-align: center;
  background-color: var(--first-color);
  border: 1px solid var(--first-color);
  color: var(--second-color);
  padding: 15px 20px;
  margin: 50px;
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  font-weight: 500;
  font-size: 20px;
}

.button-link:hover {
  background-color: var(--second-color);
  color: var(--first-color);
  background-color: var(--second-color);
  transition: 200ms ease-in-out;
}

.information {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.card {
  box-shadow: var(--box-shadow);
}

.about-me-paragraph {
  background-color: var(--fourth-color);
  padding: 15px;
  border-radius: 5px;
  margin-top: 80px;
}

.about-me-images {
  margin-top: 20px;
  padding: 20px;
  background-color: var(--fourth-color);
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}

.contact-me-title {
  font-size: 50px;
  margin-top: 50px;
}

#email {
  font-size: 30px;
  font-style: italic;
  text-decoration: none;
}

#email:hover {
  text-decoration: underline;
  transition: 200ms ease-in-out;
}

.card {
  background-color: var(--fourth-color);
}

.card-title {
  color: var(--first-color);
}

.card-text {
  color: var(--second-color);
  text-align: center;
}

.card-button {
  background-color: var(--first-color);
  color: var(--third-color);
}

.btn {
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #{shade-color($bd-violet, 10%)};
  --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
}
